h1,
h3 {
    text-align: center;
    margin-top: 5vh;
}

div {
    margin-top: 5vh;
}

#uno {
    margin: auto;
    display: inline;
    max-width: 50%;
    margin-left: 20vw;
}

#dos {
    margin: auto;
    display: inline;
    max-width: 40%;
    margin-left: 7vw;
}

#tres {
    margin: auto;
    display: inline;
    max-width: 20%;
    margin-left: 17vw;
}

h4 {
    display: inline;
    width: 18%;
    margin-right: 18vw;
    padding-top: 4vh;
}

div {
    display: block;
}