/* Todos los archivos */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
}

.wrapper {
    max-width: 800px;
    margin: auto;
}

h1 {
    text-align: center;
}

.menu_bar {
    display: none;
}

header {
    width: 100%;
}

header nav {
    background: #2f79da;
    max-width: 1000px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.nav-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 1000;
    background: #2f79da;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline-block;
    position: relative;
}

header nav ul li:hover,
.dropdown-menu a:hover {
    background: #ffffff;
}

.dropdown-menu {
    background-color: #2f79da;
}

header nav ul li a,
.dropdown a {
    color: #fff;
    display: block;
    text-decoration: none;
    padding: 8px;
}

main {
    padding: 15px;
}

.jumbotron p {
    text-align: center;
}

main section {
    padding-top: 15px;
    padding-bottom: 15px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 15px;
}

footer p {
    text-align: center;
    margin-bottom: 3px;
}


/* Quiénes somos */

.quienes-somos .integrantes {
    display: flex;
    flex-direction: column;
}

.integrantes>div {
    width: 75%;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    border: 1px solid grey;
}

.integrantes div:nth-child(2) {
    align-self: flex-end;
}

@media screen and (max-width: 500px) {
    .integrantes>div {
        width: 100%;
    }
}


/* Tablero - Lista de tareas */

.add-task {
    width: 100%;
    padding: 15px;
}

.add-task-form {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.add-task-form * {
    margin-top: 15px;
}

.add-task-form input {
    margin-right: 15px;
}

.task-details {
    margin-top: 15px;
}

.task-details label {
    margin-right: 15px;
}

.task-details #routine {
    margin-right: 5px;
}

.board {
    position: relative;
    margin-left: 1%;
}

.board-column {
    position: absolute;
    left: 0;
    right: 0;
    width: 30%;
    margin: 0 1.5%;
    background: #f0f0f0;
    border-radius: 3px;
    z-index: 1;
}

.board-column.muuri-item-releasing {
    z-index: 2;
}

.board-column.muuri-item-dragging {
    z-index: 3;
    cursor: move;
}

.board-column-header {
    position: relative;
    height: 50px;
    line-height: 50px;
    overflow: hidden;
    padding: 0 20px;
    text-align: center;
    background: #333;
    color: #fff;
    border-radius: 3px 3px 0 0;
}

@media (max-width: 600px) {
    .board-column-header {
        text-align: center;
    }
}

.board-column.todo .board-column-header {
    background: #4A9FF9;
}

.board-column.working .board-column-header {
    background: #f9944a;
}

.board-column.done .board-column-header {
    background: #2ac06d;
}

.board-column-content {
    position: relative;
    border: 10px solid transparent;
    min-height: 95px;
}

.board-item {
    position: absolute;
    width: 100%;
    margin: 5px 0;
}

.board-item.muuri-item-releasing {
    z-index: 9998;
}

.board-item.muuri-item-dragging {
    z-index: 9999;
    cursor: move;
}

.board-item.muuri-item-hidden {
    z-index: 0;
}

.board-item-content {
    position: relative;
    padding: 20px;
    background: #fff;
    border-radius: 4px;
    font-size: 17px;
    cursor: pointer;
    -webkit-box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.2);
}

.board-item-content p {
    font-size: 70%;
    margin-bottom: 0;
}

@media (max-width: 600px) {
    .board-item-content p {
        display: none;
    }
    .board-column {
        width: 95%;
    }
}


/* Modo de uso - Listas */

.uso .row {
    align-items: center;
}

.img-container {
    width: 90%;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img-container img {
    width: 100%;
}

@media screen and (max-width: 577px) {
    .uso .row {
        flex-direction: column-reverse;
    }
    .uso .img-wrapper {
        margin: auto;
    }
    .content-container p {
        margin-top: 16px;
        padding: 8px;
    }
}


/* Login */

.custom-fluid-width {
    width: 100%;
}

.custom-fluid-height {
    height: 130px;
}

#ingreso,
#password {
    height: 20px;
    padding: 1px;
}

#ingresar {
    padding: 0px;
    margin: 0px;
    height: 22px;
    font-size: 13px;
}

#hlogin {
    margin-top: 4px;
    font-size: 14px;
    margin-bottom: 0px;
    margin-left: 8.8vw;
}

#formaLogin {
    margin: auto;
    background-color: grey;
}

#checkbox {
    display: inline;
}

#labRecordar {
    text-align: left;
    font-size: 10px;
    display: flex;
}

.inLogin {
    font-family: monospace;
    padding-left: 3px;
    padding-right: 3px;
}

#formaLogin {
    width: 20vw;
    float: left;
}


/* Media queries - Barra de navegación */

@media screen and (max-width: 600px) {
    header nav {
        justify-content: flex-start;
    }
    .nav-content {
        background-color: #2f79da;
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
    }
    .menu_bar {
        display: block;
        background: #2f79da;
    }
    .menu_bar .bt-menu,
    .login a {
        display: block;
        padding: 20px;
        text-align: center;
        color: #ffffff;
        overflow: hidden;
        font-size: 25px;
        font-weight: bold;
        text-decoration: none;
    }
    .menu_bar span {
        float: right;
        font-size: 40px;
    }
    .nav-list {
        width: 40%;
        height: calc(100% - 80px);
        position: fixed;
        right: 100%;
        margin: 0;
        display: block;
    }
    .nav-list li {
        display: block;
        border-bottom: 1px solid #ffffff;
    }
    .nav-list li a {
        display: block;
    }
    .custom-fluid-width {
        width: 45%;
    }
    .login li:hover {
        background-color: #2f79da;
    }
    #formaLogin {
        width: 41vw;
    }
}